/**
    Title: nelson-sequence-game.css
    Author: Erik Nelson
    Date: 2/4/2023
    Description: Additional CSS Styling for nelson-sequence-game.html page.
*/

h1 {
    text-align: center;
}

#sequenceResults {
    font-size: 28px;
    text-align: center;
}